TZ=America/Chicago
NODE_ENV=production

# where the API listens inside container
PORT=3006

# security (if your API verifies dock/embed tokens)
# EMBED_SECRET=CHANGE_ME

NEXT_PUBLIC_AUTH0_AUDIENCE=https://entity-core.fullstackjedi.dev/api
ENTITY_CORE_SERVER_URL=https://entity-core.fullstackjedi.dev
NEXT_PUBLIC_AUTH0_DOMAIN=dev-gttnobig6h3trkvm.us.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=9J5htp4HKGaUV58ZX9E8FQ2ldot7SnkO
NEXT_PUBLIC_AUTH0_SCOPE=openid profile email crud:read crud:create crud:update crud:delete offline_access

DISABLE_AUTH=false
